.mooma-portal {
  min-height: 100vh;
  background: pink !important;
  color: black !important;
}

.mp-header {
  height: 80px;
  padding: 0 30px;
  background: purple !important;
  color: white !important;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mp-main {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.mp-hero {
  padding: 40px;
  background: white;
  border: 5px solid red;
}

.mp-branch-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.mp-branch-card {
  padding: 30px;
  background: yellow;
  border: 3px solid black;
}
