html,
body,
#root {
  background: lime !important;
}

.mooma-portal {
  min-height: 100vh !important;
  background: hotpink !important;
  color: blue !important;
}

.mp-header {
  background: black !important;
  color: white !important;
  padding: 30px !important;
}

.mp-branch-card {
  background: yellow !important;
  border: 8px solid red !important;
}
